.listing-image {
    height: 200px;
    width: 200px;
}

.card {
    background-color: darkgrey;
    margin: 10px;
    padding: 10px;
}


body{
    text-align: center;
}

.form-add-label{
    display: block;
}

body{
    /* background-color: black; */
    /* text-align: center; */
}
